.headers {
  border-bottom: 2px solid #13629e;
}

.card-logo {
  display: flex;
  align-items: center;
}

.card-logo > img {
  max-width: 70%;
  width: 250px;
  height: auto;
}

.list-menu {
  min-width: 400px;
  height: 98px;
  font-size: 12pt;
}

.card-menu-item-daftar {
  background-color: #13629e;
  color: #ffffff;
  padding: 0px 20px;
  transition: background-color 1.5s;
}

.card-menu-item-daftar:hover {
  background-color: #0a487a;
}

.card-menu-item-daftar > .menu-item-daftar {
  border-bottom: 2.5px solid white;
}

.icon-hamburger-menu {
  position: relative;
  top: 6px;
  left: 90%;
}

.drawer-content {
  height: 100%;
}

.drawer-content-menu {
  width: 100%;
}

.drawer-menu-close {
  text-align: right;
  color: #13629e;
}

.drawer-menu-logo > img {
  margin: -10px 0px 5px 0px;
  width: 170px;
  max-width: 70%;
}

.drawer-menu {
  border-bottom: 1px solid #13629e;
  color: #13629e;
  padding: 0px 0px 10px 20px;
}

.drawer-menu > a {
  color: #13629e;
}

.button-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px 0px 25px;
  font-size: 13pt;
  letter-spacing: 2pt;
  padding: 15px 0px;
}

.disclaimer-card {
  padding: 10px;
  color: #13629e;
}
.disclaimer-card :first-child > strong {
  display: flex;
  justify-content: center;
  font-size: 13pt;
  letter-spacing: 1pt;
}

.disclaimer-card :last-child {
  text-align: justify;
  font-size: 10pt;
  margin-top: 3px;
}

.card-logo > img:hover,
.drawer-menu-logo > img:hover,
.drawer-menu-close:hover,
.icon-hamburger-menu:hover {
  cursor: pointer;
}
