.slick-slide > div {
  margin: 0px 22.5px;
  text-align: center;
  height: 550px;
}

.slick-next::before,
.slick-prev::before {
  display: none !important;
}

.item-carousel-style-1 {
  margin-top: 10px;
  border-radius: 5px;
  padding: 30px 15px;
  min-height: 505px;
  color: #13629e;
  background-color: #e0dede;
}

.item-carousel-style-2 {
  margin-top: 10px;
  border-radius: 5px;
  padding: 30px 15px;
  min-height: 505px;
  color: white;
  background-color: #13629e;
}
